<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FilmEnjoyer</title>
</head>
<body>
<nav>
    <a href="/">Welcome</a> |
    <a href="/users">User management</a> |
    <a href="/films">Films</a> |
    <a href="/actors">Actors</a>
</nav>
<main>
    <div th:if="${error}">
        <span>ERROR</span>
    </div>
    <h1>Reviews</h1>
    <table>
        <thead>
        <tr>
            <th>Author</th>
            <th>Review text</th>
            <th>Rating</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="review: ${filmReviews}">
            <td th:text="${review.author}">Author</td>
            <td th:text="${review.reviewText}">Review text</td>
            <td th:text="${review.rating}">Rating</td>
            <td th:text="${#dates.format(review.date, 'dd.MM.yyyy')}">Date</td>
            <td>
                <form th:action="@{/reviews/edit}" method="get">
                    <input type="hidden" th:name="id" th:value="${review.id}">
                    <button type="submit">edit</button>
                </form>
            </td>
            <td>
                <form th:action="'/films/' + ${review.filmId} + '/reviews/delete/' + ${review.id}" method="post">
                    <button type="submit">delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/films/{id}/reviews/create(id=${filmId})}" method="get">
        <button type="submit">Create New Review</button>
    </form>
</main>
</body>
</html>